<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.InteractionEvaluationMapper">

    <resultMap type="com.example.demo.model.InteractionEvaluation" id="InteractionEvaluationMap">
        <result property="interactionId" column="interaction_id" jdbcType="INTEGER"/>
        <result property="achievementId" column="achievement_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="rating" column="rating" jdbcType="INTEGER"/>
        <result property="evaluation" column="evaluation" jdbcType="VARCHAR"/>
        <result property="interactionTime" column="interaction_time" jdbcType="TIMESTAMP"/>
        <result property="tableStatus" column="table_status" jdbcType="BOOLEAN"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="InteractionEvaluationMap">
        select
interaction_id, achievement_id, user_id, rating, evaluation, interaction_time, table_status
        from interaction_evaluation
        where interaction_id = #{interactionId} and table_status = true
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="interactionId" useGeneratedKeys="true">
        insert into interaction_evaluation(achievement_id, user_id, rating, evaluation, interaction_time, table_status)
        values (#{achievementId}, #{userId}, #{rating}, #{evaluation}, #{interactionTime}, true)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update interaction_evaluation
        <set>
            <if test="achievementId != null">
                achievement_id = #{achievementId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="rating != null">
                rating = #{rating},
            </if>
            <if test="evaluation != null and evaluation != ''">
                evaluation = #{evaluation},
            </if>
            <if test="interactionTime != null">
                interaction_time = #{interactionTime},
            </if>
            <if test="tableStatus != null">
                table_status = #{tableStatus},
            </if>
        </set>
        where interaction_id = #{interactionId}
    </update>

    <!--通过主键逻辑删除-->
    <!--将table_status置false-->
    <delete id="deleteById">
        update interaction_evaluation
        <set>
            table_status = false
        </set>
        where interaction_id = #{interactionId}
    </delete>
    
    <!--获取所有行信息-->
    <select id="queryAll" resultMap="InteractionEvaluationMap"> 
        select
interaction_id, achievement_id, user_id, rating, evaluation, interaction_time, table_status
        from interaction_evaluation
        where table_status = true
    </select>
    
    <!--分页获取所有行信息-->
    <select id="queryAllWithPagination" resultMap="InteractionEvaluationMap"> 
        select
interaction_id, achievement_id, user_id, rating, evaluation, interaction_time, table_status
        from interaction_evaluation
        where table_status = true
        limit #{offset}, #{limit}
    </select>
    <select id="querylimitWithPagination" resultMap="InteractionEvaluationMap"> 
        select
interaction_id, achievement_id, user_id, rating, evaluation, interaction_time, table_status
        from interaction_evaluation
        <where>
            table_status = true
            <if test="interactionEvaluation.achievementId != null">
                and achievement_id = #{interactionEvaluation.achievementId}
            </if>
            <if test="interactionEvaluation.userId != null">
                and user_id = #{interactionEvaluation.userId}
            </if>
            <if test="interactionEvaluation.rating != null">
                and rating = #{interactionEvaluation.rating}
            </if>
            <if test="interactionEvaluation.evaluation != null and interactionEvaluation.evaluation != ''">
                and evaluation = #{interactionEvaluation.evaluation}
            </if>
            <if test="interactionEvaluation.interactionTime != null">
                and interaction_time = #{interactionEvaluation.interactionTime}
            </if>
        </where>
        limit #{offset}, #{limit}
    </select>
</mapper>
